fritz-abwesenheitserkennung.json
[{"id":"8547a62b.261318","type":"function","z":"2f1c2bc0.e5659c","name":"parse response","func":"const devices = msg.payload.List.Item;\nconst macs = ['A1:B2:C3:D4:B5:F4', 'A1:B2:D7:49:AC:34'];\n\nlet state = false;\n\nfor (let i=0; i<devices.length; i++) {\n    if (macs.indexOf(devices[i].MACAddress[0]) > -1 && devices[i].Active[0] === \"1\") {\n        state = true;\n    }\n}\n\nif (state === context.get('oldState')) return;\n\ncontext.set('oldState', state);\n\nreturn state ? [msg, null] : [null, msg];","outputs":2,"noerr":0,"x":440,"y":600,"wires":[["12b83e74.f3068a"],["fbbc4496.707ed8"]]},{"id":"96c4ff22.8fcf2","type":"xml","z":"2f1c2bc0.e5659c","name":"","property":"payload","attr":"","chr":"","x":350,"y":540,"wires":[["8547a62b.261318"]]},{"id":"12b83e74.f3068a","type":"http request","z":"2f1c2bc0.e5659c","name":"Anwesend","method":"GET","ret":"txt","url":"http://[homee-id]/api/v2/webhook_trigger?webhooks_key=[webhook-key]&event=zuhause","tls":"","x":633,"y":580,"wires":[["556d3d5d.9f2a1c"]]},{"id":"fbbc4496.707ed8","type":"http request","z":"2f1c2bc0.e5659c","name":"Abwesend","method":"GET","ret":"txt","url":"http://[homee-id]/api/v2/webhook_trigger?webhooks_key=[webhook-key]&event=Abwesend","tls":"","x":633,"y":620,"wires":[["556d3d5d.9f2a1c"]]},{"id":"9d3ded91.a8985","type":"http request","z":"2f1c2bc0.e5659c","name":"","method":"GET","ret":"txt","url":"http://fritz.box:49000@{{{payload.NewX_AVM-DE_HostListPath}}}","tls":"","x":270,"y":480,"wires":[["96c4ff22.8fcf2"]]},{"id":"556d3d5d.9f2a1c","type":"debug","z":"2f1c2bc0.e5659c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":600,"wires":[]},{"id":"2cb8d0b3.406b88","type":"fritzbox-in","z":"2f1c2bc0.e5659c","device":"61f053c7.62e594","name":"","service":"urn:dslforum-org:service:Hosts:1","action":"X_AVM-DE_GetHostListPath","arguments":"{}","x":190,"y":420,"wires":[["9d3ded91.a8985"]]},{"id":"e3c594a3.28927","type":"inject","z":"2f1c2bc0.e5659c","name":"every 20s","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":360,"wires":[["2cb8d0b3.406b88"]]},{"id":"61f053c7.62e594","type":"fritzbox-config","z":"","name":"FritzBox","host":"fritz.box","port":"49000","ssl":false}]
