hue-light-as-virt-device-homee.json
[{"id":"513cfedd.9bd1f","type":"homeeDevice","z":"a500db9c.dff818","virtual-homee":"","name":"Decke Büro","nodeId":"2060","showNodeId":true,"profile":"1008","icon":"default","attributes":[{"state":1,"instance":0,"minimum":0,"maximum":1,"current_value":0,"target_value":0,"last_value":0,"data":"","unit":"","step_value":1,"editable":1,"last_changed":1598988338,"changed_by":1,"changed_by_id":0,"based_on":1,"options":[],"id":2060,"type":1,"node_id":2060},{"state":1,"instance":0,"minimum":0,"maximum":100,"current_value":0,"target_value":0,"last_value":0,"data":"","unit":"%","step_value":1,"editable":1,"last_changed":1598988342,"changed_by":1,"changed_by_id":0,"based_on":1,"options":[],"id":2061,"type":2,"node_id":2060},{"state":1,"instance":0,"minimum":1700,"maximum":6500,"current_value":0,"target_value":0,"last_value":0,"data":"","unit":"K","step_value":1,"editable":1,"last_changed":1598988347,"changed_by":1,"changed_by_id":0,"based_on":1,"options":[],"id":2062,"type":42,"node_id":2060},{"state":1,"instance":0,"minimum":0,"maximum":16777215,"current_value":0,"target_value":0,"last_value":0,"data":"","unit":"","step_value":1,"editable":1,"last_changed":1598988361,"changed_by":1,"changed_by_id":0,"based_on":1,"options":[],"id":2063,"type":23,"node_id":2060}],"statusTemplate":"","x":130,"y":720,"wires":[["1b3612d8.31d2ed"]]},{"id":"1b3612d8.31d2ed","type":"function","z":"a500db9c.dff818","name":"RGBW","func":"attributeId = msg.payload.attributeId;\ntargetValue = msg.payload.targetValue;\n\nswitch (attributeId) {\n    case 2060:\n        msg.payload = { on: targetValue };\n        break;\n    case 2061:\n        msg.payload = { brightness: targetValue };\n        break;\n    case 2062:\n        msg.payload = {\n            colorTemp: Math.round(1 / targetValue * 1000000)\n        };\n        break;\n    case 2063:\n        msg.payload = { hex: targetValue.toString(16) };\n        break;\n    default:\n        return;\n}\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":720,"wires":[["981e3208.ff7758"]]},{"id":"1e6e11c6.765756","type":"function","z":"a500db9c.dff818","name":"RGBW Rückkanal","func":"const value = msg.payload;\n\nif (!value.reachable) {\n    node.send({ payload: { state: 2 }});\n    return;\n} else {\n    node.send({ payload: { state: 1 }});\n}\n\nmsg.payload = {\n    attributes: [\n        { id: 2060, value: value.on ? 1 : 0 },\n        { id: 2061, value: value.brightness },\n        {\n            id: 2062,\n            value: Math.round(1 / value.colorTemp * 1000000),\n        },\n        { id: 2063, value: parseInt(value.hex, 16) },\n    ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":720,"wires":[["513cfedd.9bd1f"]]},{"id":"981e3208.ff7758","type":"hue-light","z":"a500db9c.dff818","name":"Decke Büro","bridge":"a26801a3.e67e98","lightid":"10","colornamer":true,"skipevents":false,"x":510,"y":720,"wires":[["1e6e11c6.765756"]]},{"id":"a26801a3.e67e98","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.178.90","key":"WcWhYAH9xM8Ga4NygeYkGwFlOjJTc95s9yWgpAqG","interval":"3000","disableupdates":false}]
