mqtt-communication-homee.json
[{"id":"f8fc635e.99c6b","type":"mqtt in","z":"15a78883.b12e37","name":"Rollade Küche","topic":"shellies/shellyswitch25-AA1234/roller/0/#","qos":"1","datatype":"auto","broker":"875a5aa.51545a8","x":100,"y":420,"wires":[["3ffc97f2.2bde18"]]},{"id":"3ffc97f2.2bde18","type":"function","z":"15a78883.b12e37","name":"RollerShutterIn","func":"const attributeIds = {\n    pos: 1040, // CAAttributeTypePosition\n    command: 1041, // CAAttributeTypeUpDown,\n    power: 1042, // CAAttributeTypeCurrentEnergyUse\n    //energy\n};\n\nconst states = { opened: 0, closed: 1, stop: 2, open: 3, close: 4 };\nconst topicArray = msg.topic.split('/');\nconst attribute = topicArray[topicArray.length - 1];\n\n\nswitch (attribute) {\n    case 'command':\n        //translate states\n        if (msg.payload === 'stop' && context.get('position') === 0) {\n            msg.payload = 'opened';\n        } else if (msg.payload === 'stop' && context.get('position') === 100) {\n            msg.payload = 'closed';\n        }\n        \n        msg.payload = {\n            attribute: {\n                id: attributeIds[attribute],\n                value: states[msg.payload]\n            }\n        };\n        break;\n    \n    case 'pos':\n        var value = 100-parseInt(msg.payload, 10)\n        context.set('position', value);\n        \n        msg.payload = {\n            attributes: [{\n                id: attributeIds[attribute],\n                value: value\n            }]\n        };\n        if (value === 0 || value === 100) {\n            msg.payload.attributes.push({\n                id: attributeIds.command,\n                value: value/100,\n            });\n        }\n        \n        break;\n        \n    case 'power':\n        msg.payload = {\n            attribute: {\n                id: attributeIds[attribute],\n                value: parseInt(msg.payload, 10),\n            }\n        };\n        break;\n        \n    default:\n        return;\n}\n        \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":420,"wires":[["bdc089a1.19aca8"]]},{"id":"bdc089a1.19aca8","type":"homeeDevice","z":"15a78883.b12e37","virtual-homee":"","name":"Rollade Küche","nodeId":"1040","showNodeId":true,"profile":"2002","icon":"default","attributes":[{"state":1,"instance":0,"minimum":0,"maximum":100,"current_value":0,"target_value":0,"last_value":0,"data":"","unit":"%25","step_value":1,"editable":1,"last_changed":1598794177,"changed_by":1,"changed_by_id":0,"based_on":1,"options":[],"id":1040,"type":15,"node_id":1040},{"state":1,"instance":0,"minimum":0,"maximum":4,"current_value":0,"target_value":0,"last_value":0,"data":"","unit":"n%2Fa","step_value":1,"editable":1,"last_changed":1598794191,"changed_by":1,"changed_by_id":0,"based_on":1,"options":[],"id":1041,"type":135,"node_id":1040},{"state":1,"instance":0,"minimum":0,"maximum":5000,"current_value":0,"target_value":0,"last_value":0,"data":"","unit":"W","step_value":1,"editable":0,"last_changed":1598806941,"changed_by":1,"changed_by_id":0,"based_on":1,"options":[],"id":1042,"type":3,"node_id":1040}],"statusTemplate":"","x":500,"y":420,"wires":[["c29b28d6.e3db08"]]},{"id":"c29b28d6.e3db08","type":"function","z":"15a78883.b12e37","name":"RollerShutterOut","func":"const states = ['open', 'close', 'stop']\n\nswitch (msg.payload.attributeId) {\n    case 1040: //pos\n        msg.topic = 'shellies/shellyswitch25-AA1234/roller/0/command/pos'\n        msg.payload = 100 - msg.payload.targetValue;\n        break;\n    case 1041: //updown\n        msg.topic = 'shellies/shellyswitch25-AA1234/roller/0/command';\n        msg.payload = states[msg.payload.targetValue];\n        break;\n    default:\n        return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":420,"wires":[["e7672e15.2a36f8"]]},{"id":"e7672e15.2a36f8","type":"mqtt out","z":"15a78883.b12e37","name":"","topic":"","qos":"1","retain":"true","broker":"875a5aa.51545a8","x":910,"y":420,"wires":[]},{"id":"875a5aa.51545a8","type":"mqtt-broker","z":"","name":"","broker":"192.168.178.5","port":"1883","clientid":"node_red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
