sensor-as-virt-device-homee.json
[{"id":"a19dc801.240eb","type":"zigbee2mqtt-in","z":"a7f3f5d4.f72638","name":"Temperatursensor","server":"d056262c.bca7c","friendly_name":"0x00158d00036c1b38","device_id":"0x00158d00036c1b38","state":"0","outputAtStartup":true,"x":120,"y":740,"wires":[["d1bf42b5.14e44"]]},{"id":"d1bf42b5.14e44","type":"function","z":"a7f3f5d4.f72638","name":"Filter Sensor","func":"// temperature: 27.16\n// linkquality: 5\n// pressure: 1001.6\n// battery: 91\n// voltage: 2985\n// humidity: 63.49\n\nvar data = msg.payload;\n\nmsg.payload = {\n    attributes: [\n        { id: 70, value: data.temperature },\n        { id: 71, value: data.humidity },\n        { id: 72, value: data.pressure },\n        { id: 73, value: Math.round(data.linkquality / 63.75) },\n        { id: 74, value: data.battery },\n    ]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":740,"wires":[["2bb52fb3.4576e"]]},{"id":"2bb52fb3.4576e","type":"homeeDevice","z":"a7f3f5d4.f72638","virtual-homee":"","name":"Temperatursensor Büro","nodeId":"70","showNodeId":true,"profile":"3014","icon":"default","attributes":[{"id":70,"node_id":70,"instance":0,"minimum":0,"maximum":50,"current_value":23.6,"target_value":23.6,"last_value":23.799,"unit":"°C","step_value":0.5,"editable":0,"type":5,"state":1,"last_changed":1572966224,"changed_by":1,"changed_by_id":0,"based_on":4,"data":""},{"id":71,"node_id":70,"instance":0,"minimum":0,"maximum":100,"current_value":49,"target_value":49,"last_value":48,"unit":"%","step_value":1,"editable":0,"type":7,"state":1,"last_changed":1572966224,"changed_by":1,"changed_by_id":0,"based_on":4,"data":""},{"id":72,"node_id":70,"instance":0,"minimum":260,"maximum":1160,"current_value":993.299,"target_value":993.299,"last_value":993.2,"unit":"mBar","step_value":5,"editable":0,"type":94,"state":1,"last_changed":1572966224,"changed_by":1,"changed_by_id":0,"based_on":4,"data":""},{"id":73,"node_id":70,"instance":0,"minimum":0,"maximum":4,"current_value":4,"target_value":4,"last_value":3,"unit":"n/a","step_value":1,"editable":0,"type":33,"state":1,"last_changed":1572461025,"changed_by":1,"changed_by_id":0,"based_on":4,"data":""},{"id":74,"node_id":70,"instance":0,"minimum":0,"maximum":100,"current_value":100,"target_value":100,"last_value":100,"unit":"%","step_value":1,"editable":0,"type":8,"state":1,"last_changed":1572873723,"changed_by":1,"changed_by_id":0,"based_on":1,"data":""}],"x":560,"y":740,"wires":[[]]},{"id":"d056262c.bca7c","type":"zigbee2mqtt-server","z":"","name":"","host":"192.168.178.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"}]
